@import '../../../css/mixins.sass'
@import '../../../css/flexbox.sass'

.landingPage
  color: white
  overflow-y: auto

.landingPageContent
  z-index: 10
  justify-content: center
  align-items: center
  position: relative

  flex-grow: 1

  &.landingPageProjects
    display: flex
    flex-direction: column

.background
  position: absolute

  top: 0
  left: 0
  right: 0
  height: 100vh

  opacity: 0.95
  background: black
  background-size: cover
  background-position: 50% 0%

.header
  display: flex
  background-color: rgba(0, 0, 0, 0.75)
  // position: fixed
  width: 100%
  padding: 5px 40px 0
  height: 70px
  min-height: 70px

  .logoContainer
    display: flex
    flex-direction: row
    padding-top: 4px
    padding-right: 30px
    cursor: pointer
    opacity: 0.86

    .logo
      width: 30px
      height: 38px
      margin-left: 10px
      margin-top: 7px

    .logoText
      font-size: 40px
      font-weight: 600
      margin-top: -1px

.ctaBox
  display: flex
  // margin-top: 70px
  padding-bottom: 60px
  width: 100%

  background-color: rgba(0, 0, 0, 0.75)

  flex-direction: column
  align-items: center
  flex-shrink: 0
  &:before
    background: url(../../../assets/images/landing_background.png) no-repeat
    background-size: cover
    background-position: 50% 0%
    opacity: 0.7

    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100vh
    content: ""
    z-index: -1


  .primaryCopy, .secondaryCopy
    font-family: 'Roboto Condensed', 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif
    text-align: center

  .primaryCopy
    display: flex
    align-items: center
    justify-content: center

    margin: 30px auto 5px

    color: white
    font-size: 39px
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 1px

  .secondaryCopy
    display: flex
    margin: 15px auto 20px
    text-align: center
    letter-spacing: 0.78px
    font-size: 23px
    font-weight: 300

  .ctaContainer
    display: flex
    margin: 15px auto

    .uploadButton
      height: 50px
      line-height: 50px
      font-weight: 600

      padding: 0 60px
      font-size: 24px

    .videoContainer
      height: 360px
      width: 640px
      background-color: #0F2762

      iframe
        border: none

.projectButton
  +montserrat
  display: flex
  min-height: 40px
  padding: 11px 16px
  width: 70%
  max-width: 600px

  align-items: left
  justify-content: left
  text-align: left

  border: 1px solid hsl(219, 65%, 90%)
  background-color: hsla(0, 0%, 100%, 0.11)
  color: #32363C
  font-size: 15px
  text-transform: uppercase
  letter-spacing: 1px

  cursor: pointer
  text-decoration: none

  &:hover
    background-color: rgba(86, 42, 110, 0.07)
    border-color: #D9D9DB

.section
  display: flex
  flex-grow: 1
  flex-direction: column
  align-items: center

  h2
    +landingHeader

    width: 100%
    margin: 0

.projectsContainer
  width: 100%
  padding: 60px 0
  background-color: white
  border-bottom: #D9D9DB

  &.myProjectsContainer
    flex-shrink: 0
    border-bottom: #D9D9DB


  &.preloadedProjectsContainer
    background-color: #F0F0F0
    border-bottom: #D9D9DB
    flex-grow: 1
    flex-shrink: 0

  .secondaryCopy
    +landingHeader
    font-size: 16px

  .projectTypeContainer
    display: flex
    flex-direction: column
    align-items: center

    .projectListContainer
      margin-top: 20px
      padding-left: 3%
      width: 100%

.watermark
  +montserrat
  text-transform: uppercase
  letter-spacing: 1px
  opacity: 0.8
  font-size: 12px

.topRightControls
  +montserrat
  display: flex
  flex-grow: 1
  flex-direction: row-reverse
  align-items: center
  font-size: 12px
  font-weight: 300
  text-transform: uppercase

  .separater
    opacity: 0.5
    margin-left: 5px
    margin-right: 5px

.textBox
  display: flex
  flex-direction: column
  border-radius: 2px
  font-size: 14px
  font-weight: 400
  color: #2a2d33

  strong
    display: inline-block
    font-weight: 600

  p
    margin: 0 0 1em

  a
    text-decoration: none
    color: hsla(220, 54%, 36%, 1)

    &:hover, strong:hover
      color: hsla(220, 54%, 40%, 1)
      text-decoration: underline

.spacer
  display: flex
  flex-grow: 1

.aboutContainer
  padding: 60px 0 70px
  background-color: #F0F0F0
  border-bottom: #D9D9DB
  width: 100%

  .aboutContent
    display: flex
    margin-top: 20px
    flex-direction: column
    color: #32363C
    align-items: center

  .textBox
    display: flex
    flex-direction: row

    .textBoxLeft, .textBoxRight
      width: 250px

    .textBoxRight
      margin-left: 30px

  .mugshotBox
    .mugshots
      display: flex
      flex-wrap: wrap
      justify-content: center

      .mugshotContainer
        margin: 10px
        width: 140px
        display: flex
        flex-direction: column

        .mugCaption
          display: flex
          flex-direction: column
          text-align: center
          margin-top: 10px
          color: #32363C

          .mugCaptionRole
            font-style: italic
            font-size: 14px
            color: #BBB
            margin-top: 2px

        img.mugshot
          border-radius: 100px
          width: 140px
          height: 140px
          overflow: hidden

.footer
  background-color: white
  width: 100%
  flex-direction: column
  padding: 30px 0

  .logos
    .macroConnectionsLogo, .mediaLabLogo
      max-height: 70px
      width: auto
      opacity: 0.5

    .macroConnectionsLogo
      padding-right: 40px

.featuresContainer
  .featureBlock
    height: 500px
    color: #333
    flex-direction: row
    overflow: hidden

    &:nth-child(1)
      background-color: white
      margin-top: 40px

    &:nth-child(2)
      background-color: white
      background-image: linear-gradient(0deg, white 65%, rgba(74, 119, 140, 0.15) 100%)
      border-top: 1px solid rgba(74, 119, 140, 0.25)

    &:nth-child(3)
      background-color: #38587D

      .featureCopy
        .featureCopyHeader
          color: #eee

        .featureCopyBody
          color: white

    &.centerBlock
      flex-direction: column-reverse

      .featureCopy
        height: auto

        .featureCopyHeader
          height: auto

        .featureCopyBody
          padding-top: 30px

      .featureImage
        width: 50%
        max-height: 45%
        overflow: hidden
        align-items: flex-start

    &.rightBlock
      flex-direction: row-reverse

      .featureImage
        width: 35%
        padding-right: 30px

    &.leftBlock
      .featureImage
        width: 35%
        padding-left: 30px

    .featureImage
      display: flex
      justify-content: center
      align-items: center

      &.imageExploreVisualizations
        img
          width: 100%
          max-width: 660px

      &.imageCausalRelationships
        img
          width: 100%
          max-width: 373px

      &.imageEmbeddedVisualization
        img
          width: 100%
          max-width: 360px

    .featureCopy
      display: flex
      flex-direction: column
      flex-grow: 1
      align-items: center

      height: 100%
      padding-top: 70px
      padding-bottom: 40px

      .featureCopyHeader, .featureCopyBody
        display: flex
        flex-direction: column
        max-width: 600px

      .featureCopyHeader
        height: 80px
        padding-left: 20px
        padding-right: 20px
        justify-content: center

        font-size: 22px
        line-height: 28px
        font-weight: 300
        color: #666
        text-align: center

      .featureCopyBody
        flex-grow: 1
        font-weight: 300
        color: #555
        font-size: 16px
        line-height: 22px
        padding-top: 40px

        > div
          margin-bottom: 15px
