<section class="landing-projects landing-list" flex>
	<section class='login-form card' ng-if='!loggedIn'>
		<div class="title">Login</div>
		<form name='loginForm'>
			<md-input-container>
	    		<label for="username">Username</label>
    			<input id="username" type="text" ng-model="login_userName" placeholder="username" requiredr>
		    </md-input-container>

			<md-input-container>
	    		<label for="password">Password</label>
    			<input id="password" type="password" ng-model="login_password" placeholder="password" required>
		    </md-input-container>

		    <section layout="row" layout-align="center center">
		    	<md-button aria-label="button" class="md-light md-raised" ng-click="loginUser(login_userName, login_password)">Login</md-button>
		    </section>

			<label ng-if='loginErr'>**Invalid username and/or password.</label>
		</form>
	</section>
	<section class='reg-form card' ng-if='!loggedIn'>
		<div class="title">Register</div>
		<form name='signUpForm'>
			<md-input-container>
	    		<label for="username">Username</label>
    			<input id="username" type="text" ng-model="reg_userName" placeholder="username" required>
		    </md-input-container>

		    <md-input-container>
	    		<label for="displayname">Display Name</label>
    			<input id="displayname" type="text" ng-model="reg_displayName" placeholder="display name" required>
		    </md-input-container>

			<md-input-container>
	    		<label for="password">Password</label>
    			<input id="password" type="password" ng-model="reg_password" placeholder="password" required ng-enter='registerUser(reg_userName, reg_displayName, reg_password)'>
		    </md-input-container>

		    <section layout="row" layout-align="center center">
		    	<md-button aria-label="button" class="md-light md-raised" ng-click='registerUser(reg_userName, reg_displayName, reg_password)'>Register</md-button>
		    </section>
			<label ng-if='regErr'>**Username must be unique and all fields are required.</label>
		</form>
	</section>
</section>