<div class="landing-list" flex>
    <section class="new-project-form form card">
    	<div class="title">Create New Project</div>
    	<form name="createProjectForm" novalidate>
    		<md-input-container>
        		<label for="project-title">Project Title</label>
                <span class="error" ng-if="createProjectError">{{createProjectError}}</span>
    	    	<input id="project-title" type="text" ng-model="projectData.title" placeholder="Chicago Demographic Visualization" required>
        	</md-input-container>
    	    <md-input-container>
    	        <label>Project Description</label>
    	        <input type="text" ng-model="projectData.description" placeholder="Visualization based on the 2006-2012 ACS" required ng-enter="createProject()">
    	    </md-input-container>
    	    <section layout="row" layout-align="center center">
            	<md-button aria-label="button" class="md-light md-raised md-primary" ng-click="createProject()">Create</md-button>
            </section>
        </form>
    </section>
</div>