<div class="landing-top">
	<div class="logo" ui-sref="landing">
		<img src="assets/images/DIVE_logo_white.svg" />
	</div>
	<div class="dive">
		<div class="title" ui-sref="landing">DIVE</div>
		<div class="subtitle" ui-sref="landing">Data Integration and Visualization Engine</div>
	</div>
	<div class="user-status">
		<span ng-if="loggedIn">
			Logged in as <span class="username"> {{ user.displayName }}</span>
			(<span class='logout' ng-click="logoutUser()">Logout</span>)
		</span>
		<span ng-if="!loggedIn" ui-sref="landing.authenticate">
			Log in / Register
		</span>
	</div>
</div>