<div class="landing-top" layout="row">
	<div class="dive-heading" flex=15>
		<div class="logo" ui-sref="landing">
			<img src="assets/images/DIVE_logo_white.svg" />
		</div>
		<div class="dive">
			<div class="title" ui-sref="landing">DIVE</div>
		</div>
	</div>
	<md-tabs md-selected="selectedIndex" flex=70>
		<md-tab ng-repeat="tab in tabs" label="{{tab.label}}"></md-tab>
	</md-tabs>
	<div class="user-status" flex=15>
		<span ng-if="loggedIn">
			Logged in as <span class="username"> {{ user.displayName }}</span>
			(<span class='logout' ng-click="logoutUser()">Logout</span>)
		</span>
		<a ng-if="!loggedIn" ui-sref="landing.authenticate">
			Log in / Register
		</a>
	</div>
</div>
