<div class="dive-heading" flex=15>
	<div class="logo" ui-sref="landing">
		<img src="assets/images/DIVE_logo_white.svg" />
	</div>
	<div class="dive">
		<div class="title" ui-sref="landing">DIVE</div>
	</div>
</div>
<md-tabs md-no-ink md-selected="selectedIndex" flex=55>
	<md-tab ng-repeat="tab in tabs" label="{{tab.label}}"></md-tab>
</md-tabs>
<div class="user-status" flex=30 ng-if="loggedIn">
	<span >
		Logged in as <span class="username"> {{ user.displayName }}</span>
		(<span class='logout' ng-click="logoutUser()">Logout</span>)
	</span>
</div>
