<section class="landing-projects primary-card-container" flex>
	<div class='project-list' ng-if="projects.length">
		<md-card class="project" ng-repeat="project in projects" ng-click="selectProject(project.pID)">
			<md-card-content>
				<h2 class="md-title">{{project.title}}</h2>
				<div class="description">{{project.description}}</div>
    	</md-card-content>
			<div class='md-actions' layout="row" layout-align="end center">
				<md-button aria-label="button" class="md-light md-raised md-primary" ng-click="openProject(project)">Open</md-button>
				<md-button aria-label="button" class="md-light md-raised md-warn" ng-click="removeProject(project, $index)">Delete</md-button>
			</div>
		</md-card>
	</div>
	<div ng-if="!projects.length">
		<h1>No projects created yet.</h1>
	</div>
</section>
