div.viewport {
	div.embed-options {
		div.label {
			width: 100%;
			font-size: 12px;
			margin-top: 20px;
			text-align: center;
		}
		input {
			@include font;
			width: 100%; font-size: 14px;
            padding: 4px;
            -webkit-appearance: none;
            border: none;
            background-color: $light-gray;
            width: 100%;
            min-width: 150px;
        }

        div.button-group {
        	margin: 0 auto;
        	width: 200px;
        }
	}
}