md-tabs {
    md-tab {
        &.left-tabs {
            float: left;
        }
        &.right-tabs {
            float: right;
        }
    }
}


div.hamburger {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;

    div.line {
        width: 20px;
        border-bottom: 3px solid white;
        padding-bottom: 6px;
    }
}

div.left-pane {
    float: left;
}

div.right-pane {
    float: right;
}

div.left-pane, div.right-pane {
    background-color: white;
    font-size: 16px;
    position: relative;
    width: 250px;
    height: 100%;
    overflow-y: auto;

    &.closed {
        display: none;
    }

    div.pane-title {
        text-align: center;
        line-height: 35px;
        // font-weight: bold;
        border-bottom: 1px solid $dive-black;
        background-color: $dive-black;
        color: $active-white;

        @include small-caps;
    }

    div.element-description {
        div.type {
            text-align: center;
            font-size: 22px;
            margin: 20px 0;
        }

        ul {
            padding-left: 15px;
            li {
                span.key {
                    @include small-caps;
                }

                div:hover {
                    position: relative;
                    bottom: 1px;
                }
            }
        }
    }

    ul.pane-items {
        padding-left: 0;
        list-style-type: none;
        li {
            @include background-transition();
            position: relative;
            list-style-type: none;
            height: 80px;
            font-size: 14px;
            border-bottom: 1px solid $light-gray;

            cursor: pointer;
            padding: 12px;

            div.right {
                position: absolute;
                top: 20px;
                right: 10px;

                img {
                    width: 40px;
                }
            }

            .vertical-center {
                line-height: 56px;
            }

            .count {
                position: absolute;
                right: 62px;
                line-height: 60px;
                font-size: 30px;
            }

            &.inactive {
                color: $dark-gray;
                pointer-events: none;
                cursor: default;
                opacity: 0.7;
            }

            div.choose {
                position: absolute;
                top: 0px;
                right: 0px;
                height: 100px;
                width: 40px;


                div {
                    height: 50px;
                    i {
                        width: 100%;
                        line-height: 40px;
                        text-align: center;
                        color: black;
                    }
                }

                div.select {
                    background-color: $assemble-green;
                    border-left: 1px solid $light-gray;

                    img {
                        width: 20px;
                        margin-top: 16px;
                        margin-left: 12px
                    }
                }

                div.reject {
                    background-color: $project-red;
                    border-left: 1px solid $light-gray;
                    img {
                        width: 14px;
                        margin-top: 17px;
                        margin-left: 13px;
                    }
                }
            }

            &.add-dataset {
                cursor: pointer;
                width: 100%;
                height: 50px;
                font-size: 30px;
                line-height: 50px;
                text-align: center;
                color: $light-gray;
                &:hover {
                    color: $dark-gray;
                }
            }

            &.selected {
              background-color: $light-gray;
            }

            &:hover {
                background-color: $ontology-blue;
                cursor: pointer; 
                div.title {
                    position: relative;
                    bottom: 1px;
                }
            }

            &.chosen {
                background-color: $assemble-green;
            }

            &.rejected {
                opacity: 0.5;
            }

            div.title {
                // font-size: 1.5rem;
            }

            div.dimensions {
                float: left;
                width: 200px;
                padding-top: 20px;
            }
            div.type {
                text-align: right;
                margin-top: 20px;
            }
        }
    }
    div.drag {
        position: absolute;
        top: 500px;
        width: 100%;
        text-align: center;
    }
}

div.project-right-pane {
    margin-top: 35px;
    transition: .2s ease-in-out width;
    background-color: $dive-black;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    z-index: 11;
    
    -webkit-box-shadow: -2px 0px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: -2px 0px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: -2px 0px 5px 0 rgba(0, 0, 0, 0.26);

    &.open {
        width: 250px;
    }

    ul {
        li {
            @include background-transition;
            cursor: pointer;
            padding-left: 10px;
            line-height: 50px;
            color: white;
            border-top: 1px solid $light-gray;

            &:hover {
                background-color: $ontology-blue;
            }

            &:last-child {
                border-bottom: 1px solid $light-gray;
            }
        }
    }
}



