ontology-editor {
    .title {
        font-size: 20px;
    }

    text, path {
        cursor: pointer;
    }

    .visible-arrow {
        &.hover {
            stroke-width: 2
        }
        &.selected {
            stroke-width: 2
        }
    }

    rect {
        cursor: pointer;
        &.hover {
            fill-opacity: 1.0;
            fill: $light-gray;
        }
        &.selected {
            fill-capacity: 1.0;
            fill: $light-gray;
        }
    }

    g.save rect {
        fill: $light-gray;
        fill-opacity: 1.0;
        &.hover {
            fill-opacity: 1.0;
            fill: $ontology-blue;
        }
    }

    g {
        cursor: default;
    }
}