.docs-menu {
	.md-button.child { 
		display: block;
		font-weight: 400;
		padding: 0 16px 0 32px;
		text-transform: none;

		&.active {
			color: #03a9f4;
		}
	}

	// TODO Find out why vertical-align isn't working
	.md-button-toggle {
		md-icon {
			height: 40px;
		}
	}
}
