.viz-viewport {
    overflow-y: hidden;
    max-height: 100%;

    .card {
        div.title {
            font-size: 14px;
            padding: 10px;
            height: 30px;
        }     
    }

    md-progress-linear {
      overflow: hidden;
      height: 10px;
      max-height: 10px;
      display: inline;
    }


    md-checkbox {
        float: left;
        margin: 3px 10px;
        .md-container {
            top: 5px;
        }
        .md-label {
            margin-left: 5px;
            font-size: 12px;
        }
    }
}

.filters {
    md-checkbox {
        float: left;
        margin: 3px 10px;
        .md-container {
            top: 5px;
        }
        .md-label {
            margin-left: 5px;
            font-size: 12px;
        }
    }
}


.filters {
    padding: 10px 16px;
}

.legend {
    margin: 0 auto;
    padding: 15px 20px;
    height: 40px;
}

div.scroll {
    overflow-y: scroll;
    width: 100%;
}

div.configurations, div.export {
    section {
        padding: 8px;
    }
}

div.visualization {
    width: 100%;
    max-height: 600px;
    md-progress-linear {
        margin-top: -10px;
    }
    #viz-container {
        width: 100%;
        height: 100%;
    
        .mg-main-line {
            stroke-width: 2.0px;
            // stroke: $dark-gray;
        }

        .mg-x-axis text, .mg-y-axis text {
            font-size: 1.1rem;
            opacity: 0.9;
        }
    }

    $color-1: #4040e8;
    $color-2: #05b378;    
    $color-3: #db4437;
    $color-4: #f8b128;
    $color-5: #5c5c5c;
    $color-6: steelblue;
    $color-7: #9013FE;
    $color-8: #417505;
    $color-9: #F523CC;
    $color-10: #000000;

    .mg-line6-color { stroke: $color-6; }
    .mg-hover-line6-color { fill: $color-6; }
    .mg-line6-legend-color { color: $color-6; }

    .mg-line7-color { stroke: $color-7; }
    .mg-hover-line7-color { fill: $color-7; }
    .mg-line7-legend-color { color: $color-7; }

    .mg-line8-color { stroke: $color-8; }
    .mg-hover-line8-color { fill: $color-8; }
    .mg-line8-legend-color { color: $color-8; }

    .mg-line9-color { stroke: $color-9; }
    .mg-hover-line9-color { fill: $color-9; }
    .mg-line9-legend-color { color: $color-9; }

    .mg-line10-color { stroke: $color-10; }
    .mg-hover-line10-color { fill: $color-10; }
    .mg-line10-legend-color { color: $color-10; }

    rect.mg-bar {
        fill: #4040e8;  
        &:nth-child(1) { fill: $color-1; }
        &:nth-child(2) { fill: $color-2; }
        &:nth-child(3) { fill: $color-3; }
        &:nth-child(4) { fill: $color-4; }
        &:nth-child(5) { fill: $color-5; }
        &:nth-child(6) { fill: $color-6; }
        &:nth-child(7) { fill: $color-7; }
        &:nth-child(8) { fill: $color-8; }
        &:nth-child(9) { fill: $color-9; }
        &:nth-child(10) { fill: $color-10; }
    }


    div.legend {
        span {
            font-size: 14px;
        }
    }

    div.stats {
        border-left: none;
        border-radius: 0px 3px 3px 0;
        overflow-y: scroll;
        div.content {
           padding: 8px;                
        }

       .histogram {
            width: 100%;

            .mg-chart-title {
                margin: 0;
                font-size: 12px;
                line-height: 16px;
                margin-bottom: -20px;
            }

 
            text {
                fill: black;
                opacity: 0.87;
                font: 11px 'Titillium Web', Karbon, DIN, Helvetica, 'Sans Serif';
                text-anchor: end;
            }
       }

      .mg-bar-prediction {
        display: none;
      }

      .mg-bar-baseline {
        display: none;
      }
    }
}

md-sidenav {
    div.stats {
        padding-left: 60px;
        font-size: 12px;
    }

    span.icons {
        div.icon {
            width: 25px;
            height: 25px;
            border: 1px solid rgba(158, 158, 158, 0.2);
            border-radius: 2px;
            margin-left: 3px;
            padding: 2px;

            &.active {
                outline: none;
                background-color: rgba(3, 169, 244, 0.6);
            }

            img {
                opacity: 0.6;
                width: 20px;
            }
        }
    }
}

.md-select-menu-container {
    overflow-y: hidden;
    max-height: 250px;
    &.md-active {
        md-select-menu {
            overflow-y: hidden;
            
        }
    }
}

md-select-menu {
    max-height: 100px;
    md-content {
        md-option {
            height: 30px;
            div.md-text {
                font-size: 14px;
            }
        } 
    }
}

div.export {
    button {
        span {
            font-size: 12px;            
        }
    }
}

ul.dropdowns {
    padding: 0;
    width: auto;
    border-top: 1px solid #E5E6E9;
    padding-bottom: 6px;
    display: block;

    md-select {
        margin: 0;
        span {
            font-size: 14px;                
        }
    }

    li {
        margin-left: 15px;
        width: 200px;
        float: left;
        label.dropdown-label {
            @include small-caps;
            text-align: center;
            display: block;
        }

        md-select {
            width: 100%;
        }
    }
}

div.conditionals, div.parameters, div.grouping {
    display: inline-block;
    width: 100%;

    div.checkboxes {
        display: inline-block;
        padding: 6px;

    }
}

div.scatterplots {
    div.scatterplot-container {
        div {
        }
    }
}