.viz-viewport {
    overflow-y: hidden;

    .card {
        div.title {
            font-size: 14px;
            padding: 10px;
            height: 40px;
        }     
    }
}

.filters {
    padding: 10px 16px;
}

.legend {
    margin: 0 auto;
    padding: 15px 20px;
    height: 40px;
}

div.scroll {
    overflow-y: scroll;
    width: 100%;
}

div.visualization {
    width: 100%;
    min-height: 540px;
    md-progress-linear {
        margin-top: -5px;
    }
    #viz-container {
        width: 100%;
        min-height: 500px;
    
        .mg-main-line {
            // stroke: $light-gray;
        }
    }

    .mg-x-axis text, .mg-y-axis text {
        font-size: 1.1rem;
    }
}


md-select-menu {
    md-content {
        md-option {
            height: 30px;
            div.md-text {
                font-size: 14px;
            }
        } 
    }
}


div.conditionals {
    display: inline-block;
    width: 100%;

    div.checkboxes {
        display: inline-block;
        padding: 6px;

        md-checkbox {
            float: left;
            margin: 3px 10px;

            .md-container {
                top: 5px;
            }
            .md-label {
                margin-left: 5px;
                font-size: 14px;
            }
        }
    }


    div.dropdowns {
        padding: 0;
        width: auto;
        border-top: 1px solid #E5E6E9;
        padding-bottom: 6px;
        display: block;

        md-select {
            margin: 0;
            span {
                font-size: 14px;                
            }
        }

        li {
            margin-left: 15px;
            // &:nth-child(3n + 1) { margin-left: 0px; }
            width: 200px;
            float: left;
            label.dropdown-label {
                @include small-caps;
                text-align: center;
                display: block;
            }

            md-select {
                width: 100%;
            }
        }
    }
}