// Resource imports and universal styling rules
// $dive-black: #1C1D1D;
$dive-black: #1a1a1a; //#1E1E20;
$dark-blue: #122e43;
$light-blue: #a5cdd4;

$light-gray: #e0e5e9;
$dark-gray: #222222;
$data-yellow: #F8E71C;
$ontology-blue: #4A90E2;
$visualize-purple: #BD10E0;
$assemble-green: #7ED321;
$project-red: #D0021B;

// Reddit colors
$light-gray: #EEE;  //#F1EFEF;
$background-color: #e9e7e8;
$gray: #AEAEAE;
$active-white: #EEEEEE;
$dark-gray: #666;

// Universal Link Styling
a {
    text-decoration: none !important;
    &:hover {
        color: black;
    }
}

// Universal List Styling
ul {
    list-style-type: none;
    li {
        list-style-type: none;
    }
}

/* Fonts */
@font-face {
    font-family: 'DIN';
    src: url('../assets/fonts/DINLight.ttf') format('ttf'), url('../assets/fonts/DINLight.woff') format('woff');
}

@font-face {
    font-family: 'Decima';
    src: url('../assets/fonts/decima.woff') format('woff');
}

@font-face {
    font-family: 'Karbon';
    src: url('../assets/fonts/karbon-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Karbon';
    src: url('../assets/fonts/karbon-light-webfont.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Karbon';
    src: url('../assets/fonts/karbon-regular-webfont.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Karbon';
    src: url('../assets/fonts/karbon-semibold-webfont.woff') format('woff');
    font-weight: bold;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@import '_mixins';
@import '_layout';
@import '_embed';
@import '_landing';
@import '_project';
@import '_export';
@import '_data';
@import '_property';
@import '_visualization';
@import '_widgets';
@import '_sidenav';
@import '_table';

// Libraries
@import 'lib/d3plus.scss';
@import 'lib/metricsgraphics.scss';
@import 'lib/angular-material.scss';
@import 'lib/angular-docs.scss';