.DS_Store
dist/**
node_modules/
node_modules_old/
static/

*.log
.divshot-cache/
.env.json
__/

*.map

public/*.eot
public/*.ttf
public/*.woff
public/*.woff2
public/*.svg
public/bundle.js
public/bundle.js.map
public/app.css
