=dropdown
  font-size: 13px
  line-height: $input-height
  height: $input-height


md-autocomplete
  +input-container
  min-width: $input-width

  input, input:not(.md-input)
    +input
    +input-span

  md-autocomplete-wrap.md-whiteframe-z1
    height: $input-height
    width: $input-width
    +input-box-shadow

.md-autocomplete-suggestions
  z-index: 1000

  li
    +dropdown

md-option, md-option .md-text
  +dropdown
