$color-white:         #FFFFFF
$color-off-white-1:   #FEFEFE
$color-off-white-0:   #FAFAFA

$color-slate-lighter: #CFD8DC
$color-slate-light:   #97A6AC
$color-slate:         #607D8B
$color-slate-dark:    #526B77
$color-slate-darker:  #455A64

$color-grey-light-4:  #F6F6F6
$color-grey-light-3:  #E9E9E9
$color-grey-light-2:  #D0D0D0
$color-grey-light-1:  #B6B6B6
$color-grey-light-0:  #AAAAAA
$color-grey:          #727272
$color-grey-dark:     #212121

$color-blue-light:    #0C83BA
$color-blue:          #03A9F4
