$color-white:         #FFFFFF
$color-off-white-2:   #FEFEFE
$color-off-white-1:   #FCFCFC
$color-off-white-0:   #FAFAFA

$color-slate-lighter: #CFD8DC
$color-slate-light:   #97A6AC
$color-slate:         #607D8B
$color-slate-dark:    #526B77
$color-slate-darker:  #456B7D
$color-slate-darkest: #2D5365

$color-slate-gradient-dark:   #4A778C
$color-slate-gradient-bright: #536F7C

$color-grey-light-4:  #F6F6F6
$color-grey-light-3:  #E9E9E9
$color-grey-light-2:  #D0D0D0
$color-grey-light-1:  #B6B6B6
$color-grey-light-0:  #AAAAAA
$color-grey:          #727272
$color-grey-dark-0:   #6A6A6A
$color-grey-dark-1:   #212121

$color-blue-light:    #0C83BA
$color-blue:          #03A9F4
