=toolbar-style
  .category-title
    min-width: 90px
    text-align: right

  h3, span
    font-size: 14px
    font-weight: 400

  md-autocomplete
    display: inline-block

    + md-autocomplete
      margin-left: 0

  md-input-container
    margin-left: 10px
    margin-right: 10px

md-toolbar
  $toolbar-height: 56px
  $item-height: 35px
  min-height: $toolbar-height
  background-color: $color-grey-light-4
  color: $color-grey-dark

  &.extended
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3)

  .md-toolbar-tools
    height: $toolbar-height
    max-height: $toolbar-height
    +toolbar-style

  .phrase, .selector
    display: inline-block
    vertical-align: middle
    height: $item-height

  .phrase
    line-height: $item-height

    span
      margin-left: 10px

  .actions
    text-align: right

.stats-parameters
  $item-height: 35px
  .phrase, .selector
    display: inline-block
    vertical-align: middle
    height: $item-height
  .phrase
    line-height: $item-height

    span
      margin-left: 14px

.toolbar-extension
  background-color: $color-grey-light-3

  .toolbar-extension-component
    padding: 13px 16px 9px
    +toolbar-style

  md-card
    background: none
    font-size: 14px

    md-card-content
      padding: 3px 16px 10px

    .md-title
      font-size: 15px

.filter-viz
  text-align: right
