@mixin toolbar-style
  .category-title
    min-width: 100px
    text-align: right

  h3, span
    font-size: 15px
    font-weight: 400

  md-autocomplete
    margin-left: 14px
    margin-right: 14px
    display: inline-block

    &[disabled]
      opacity: 0.5

    + md-autocomplete
      margin-left: 0

md-toolbar
  $toolbar-height: 60px
  min-height: $toolbar-height
  background-color: $color-grey-light-4
  color: $color-grey-dark

  &.extended
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3)

  .md-toolbar-tools
    height: $toolbar-height
    max-height: $toolbar-height
    +toolbar-style

  .actions
    text-align: right

.toolbar-extension
  background-color: $color-grey-light-3

  .toolbar-extension-component
    padding: 13px 16px 9px
    +toolbar-style

  md-card
    background-color: $color-grey-light-4
    font-size: 14px

    md-card-content
      padding: 3px 16px 10px

    .md-title
      font-size: 15px