slider {
    display:     block;
    position:    relative;
    height:      30px;
    width:       200px;
  }
  slider span.bar {
    height:     50%;
    z-index:    0;
    background: $light-gray;
    left:       0;
    top:        25%;
    cursor:     pointer;
  }
  slider span.bar.selection, slider span.bar.unselected {
  }
  slider span.bar.selection {
    background: $dark-gray;
    opacity:    0.5;
  }
  slider span.bar.unselected {
    width:      auto;
    background: $light-gray;
    opacity:    0.5;
  }
  slider span.pointer {
    cursor:           pointer;
    width:            15px;
    top:              0;
    bottom:           0;
    border-radius: 2px;
    z-index: 10;
    background-color: $dive-black;
  }
  slider span.pointer:hover {
    background-color: $ontology-blue;
  }
  slider span.pointer.active {
    background-color: $ontology-blue;
  }
  slider span.bubble {
    font-size:   0.7em;
    line-height: 1.4em;
    text-align:  center;
    text-shadow: none;
    top:         -1.3em;
    cursor:      pointer;
  }
  slider span.bubble.selection, slider span.bubble.limit {
    top: 25%;
  }
  slider span.bubble.selection {
  }
  slider span.bubble.limit {
  }
  slider span.bubble.low, slider span.bubble.high {
  }
  
  ::-ms-tooltip {
    display: none;
  }