=flexbox
  display: flex

=fillContainer
  +flexbox
  flex-direction: column
  flex-grow: 1

.flexbox
  +flexbox

.fillContainer
  +fillContainer

.centeredFill
  +fillContainer
  align-items: center
  width: 100%

=maxHeight100NoOverflow
  max-height: 100%
  overflow: hidden
