$white: white
$black: #1B1B1B  // #2a2d33

$ui-font-grey: #333
$ui-grey: #959595
$ui-active-grey: rgba(86, 42, 110, 0.1)

$sidebar-grey: #3A3A41 // #A5A5A5
$dark-grey: #CDCDCD // #D9D9DB // borders
$light-grey: #F0F0F0 // backgrounds
$primary-accent: #0747CE  // #0B6BDB //  ##4AD3B7
$secondary-accent: #0B6BDB

=headerText
  color: $black
  font-size: 24px

=appHeaderText
  color: $black
  font-size: 16px

=montserrat
  font-family: 'montserrat', 'Helvetica Neue, Helvetica, Arial', sans-serif

=cmu
  font-family: 'Computer Modern Serif', 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif

=raisedBox
  background-color: #FAFAFA
  border: 1px solid #EAEAEA
  border-radius: 2px
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.01), 0px 2px 2px 0px rgba(0, 0, 0, 0.058), 0px 1px 5px 0px rgba(0, 0, 0, 0.034)

=landingHeader
  font-family: 'Roboto Condensed', 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif
  text-transform: uppercase
  text-align: center
  font-weight: 600
  font-size: 20px
  color: $black

=noSelect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

=linkStyle($font-size)
  display: inline
  color: $black
  // color: $primary-accent

  font-size: $font-size
  font-weight: 500
  cursor: pointer
  text-decoration: none

  &:hover
    position: relative
    bottom: 1px

=titleText
  $font-size: 16px
  color: $black
  font-size: $font-size
  a
    +linkStyle(font-size)

=regularText
  $font-size: 12px
  color: $black
  font-size: $font-size
  a
    +linkStyle(font-size)

=regularCopy
  $font-size: 14px
  color: $black
  font-size: $font-size
  a
    +linkStyle(font-size)

=smallCaps
  font-size: 11px
  font-weight: 500
  text-transform: uppercase
  color: #666

=background
  background: #F0F0F0

=watermark
  +smallCaps
  display: flex
  flex-grow: 1
  justify-content: center
  font-size: 15px

=block
  padding: 11px
  margin: 0

  background-color: #FAFAFA
  border: 1px solid #CFCFCF
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1)

  font-size: 14px
  text-align: center

  cursor: pointer
  outline: none

.headerControlRow
  display: flex
  flex-direction: row-reverse
  flex-grow: 1

  > div
    margin-left: 10px

.headerControl
  display: flex
  flex-direction: row
  align-items: center

  &.headerControlLong
    min-width: 160px

  > span
    margin-right: 10px

    white-space: nowrap
    font-size: 13px
    font-weight: 300

.sidebarDropdown
  margin-top: 1px

  > div > div:first-of-type
    margin-top: -1px
    border-color: #D0D0D0
    background-color: rgba(255, 255, 255, 0.4)

    > div:first-child
      font-size: 12px
