$white: #FFFFFF
$white-grey: #FAFAFA
$off-white-block-background: rgb(250, 250, 250)
$black: #212B33 // #333333 // #1B1B1B  // #2a2d33

// By layout
// Landing
$landing-light-background: $white
$landing-grey-background: #EBF2F6

// Project
$left-sidebar-grey: #313F4E
$left-sidebar-separator-grey: #CFCFCF // rgba($white, 0.3)
$right-sidebar-grey: #CED9E0
$center-grey: #EBF2F6

// UI
$ui-line-grey: #CFCFCF  // card borders, sidebar separators
$ui-deselected-grey: #EBF2F6  // deselected buttons
$ui-header-grey: #F5F8FA  // card header, table header
$ui-grey-font: #444444
$small-caps-grey: #666666 // sidebar categories

// Accents
$primary-accent: #5499D8
$primary-accent-hover: rgba(#5499D8, 0.5)
$secondary-accent: #004491

=headerText
  color: $black
  font-size: 24px

=appHeaderText
  color: $black
  font-size: 16px

=montserrat
  font-family: 'montserrat', 'Helvetica Neue, Helvetica, Arial', sans-serif

=cmu
  font-family: 'Computer Modern Serif', 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif

=raisedBox
  background-color: $white
  border: 1px solid $ui-line-grey
  border-radius: 2px
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.01), 0px 2px 2px 0px rgba(0, 0, 0, 0.058), 0px 1px 5px 0px rgba(0, 0, 0, 0.034)

=landingHeader
  font-family: 'Roboto Condensed', 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif
  text-transform: uppercase
  text-align: center
  font-weight: 600
  font-size: 20px
  color: $black

=noSelect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

=linkStyle($font-size)
  display: inline
  color: $black

  font-size: $font-size
  font-weight: 500
  cursor: pointer
  text-decoration: none

  &:hover
    position: relative
    bottom: 1px

=titleText
  $font-size: 16px
  color: $left-sidebar-grey
  font-size: $font-size
  a
    +linkStyle(font-size)

=regularText
  $font-size: 12px
  color: $black
  font-size: $font-size
  a
    +linkStyle(font-size)

=regularCopy
  $font-size: 14px
  color: $black
  font-size: $font-size
  a
    +linkStyle(font-size)

=smallCaps
  +noSelect
  font-size: 11px
  font-weight: 500
  text-transform: uppercase
  color: $small-caps-grey

=watermark
  +titleText
  display: flex
  justify-content: center

=block
  padding: 11px
  margin: 0
  background-color: $off-white-block-background
  font-size: 14px
  text-align: center
  border-radius: 3px

  cursor: pointer
  outline: none

.headerControlRow
  display: flex
  flex-direction: row-reverse
  flex-grow: 1

  > div
    margin-left: 10px

.headerControl
  display: flex
  flex-direction: row
  align-items: center

  &.headerControlLong
    min-width: 160px

  > span
    margin-right: 10px

    white-space: nowrap
    font-size: 13px
    font-weight: 300

.sidebarDropdown
  margin-top: 1px

  > div > div:first-of-type
    margin-top: -1px
    border-color: $ui-line-grey
    background-color: $white

    > div:first-child
      font-size: 12px
