// TODO Refactor into a directive or something
md-whiteframe.main-container.md-whiteframe-z2(layout='row', layout-fill='')

  // Main View
  .data-viewport(ui-view='', layout='column', layout-fill='', flex='')
