<!-- TODO: Refactor these into directives? -->
<div class="left-pane" ng-class="{'closed': leftClosed}" maxheight>
  <div class="pane-title">
    Choose Data Sources
  </div>
  <ul class="pane-items">
    <li ng-repeat="option in options" class="option" ng-class="{'selected':$index==selectedIndex && currentPane=='left', 'inactive': option.inactive}">
      <div class="vertical-center title" ng-click="select_option($index)">{{option.label}}</div>
      <div class="right">
        <img ng-src="assets/images/{{option.icon}}" />
      </div>
    </li>
  </ul>
</div>

<div class="right-pane" ng-class="{'closed': rightClosed}" maxheight>
  <div class="pane-title">
    Inspect Datasets
  </div>
  <ul class="pane-items">
    <li ng-repeat="dataset in datasets track by dataset.dID" class="dataset" ng-click="select_dataset($index)" ng-class="{'selected':$index==selectedIndex && currentPane=='right'}">
      <div class="title">{{dataset.filename}}</div>
      <div class="dimensions">
        <span class="rows">{{dataset.rows}} Rows</span> x <span class="columns">{{dataset.cols}} Columns</span>
      </div>
      <div class="type">{{dataset.filetype}}</div>
    </li>
  </ul>
</div>

<div class="viewport" ng-class="{'right-closed': rightClosed, 'left-closed': leftClosed}" maxheight>
  <pane-toggle></pane-toggle>

  <div class="choose-data-set" ng-if="currentPane=='left'">

    <!-- File Upload UI -->
    <div class="file-upload" ng-if="selectedIndex==0">
      <div class="button upload" ng-file-select="onFileSelect($files)" data-multiple="true" title="select file" onclick="this.value = null" class="upload-button">Click here to select file</div>
      <!--       <div class="button cancel" ng-click="uploadabort()">Cancel Upload</div> -->
      <div class="drop" ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files)" ng-file-drop-available="dropSupported=true"
      ng-file-drag-over-class="dragOverClass($event)" ng-file-drag-over-delay="100">or drop files here</div>
    </div>

    <div class="public-datasets" ng-if="selectedIndex==1">
      <div class="title">
        PUBLIC DATASETS
      </div>
      <ul class="datasets">
        <li ng-repeat="d in publicDatasets" class="dataset" ng-click="selectPublicDataset(d.dID)">
          <div class="title">{{d.filename}}</div>
          <div class="description">Description</div>
          <div class="menu" ng-class="{active: d.dID==selectedPublicDataset}">
            <div class="button open" ng-click="addPublicDataset(d)">
              Use Dataset
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div ng-repeat="dataset in datasets track by dataset.dID" ng-if="$index==selectedIndex && currentPane=='right'">
    <div class="dataset-preview card" ng-if="dataset.sample">
      <div class="title">Dataset Preview</div>
      <input type="text" ng-model="dataset.title">
      <table>
        <tr>
          <td ng-repeat="attr in dataset.column_attrs">    
            <input type="text" ng-model="attr.name">
          </td>
        </tr>
        <tr>
          <td ng-repeat="attr in dataset.column_attrs">
            <select ng-model="attr.type" ng-options="type for type in types" class="type-select">
            </td>
          </tr>

          <tr ng-repeat="(index, row) in dataset.sample track by $index">
            <td ng-repeat="elem in row track by $index"> {{elem}} </td>
          </tr>
        </table>
      </div>


      <div class="dataset-structure-select card">
        <div class="title">Dataset Structure</div>
        <ul class="structure-options options">
          <li class="structure-option option" ng-repeat="structure in structures" ng-click="selectStructure(structure.name)" ng-class="{'selected': selectedStructure(structure.name)}">
            {{structure.displayName}}
          </li>
        </ul>
<!--         <div class="button ng-class=">Long (Sample-based)</div>
        <div class="button">Wide (Matrix-like)</div>
        <div class="button">Network</div> -->
      </div>
      <div class="dataset-delete-select card">
        <div class="title">Modify Dataset</div>
        <div class="button delete" ng-click="removeDataset(dataset.dID)">Delete Dataset</div>
      </div>
    </div>
  </div>

  </div> 