.viz-viewport(layout-fill='', layout='column', layout-align='starter', flex='')
  md-toolbar.segmentation-block
    .md-toolbar-tools
      h3
        span Visualize

        //- Datasets
        span.dataset-selector(ng-if="datasetsLoaded")
          md-autocomplete(md-items="ds in datasets", md-item-text="ds.title", placeholder="Dataset", md-min-length="0", md-search-text="searchDataset", md-selected-item="selectedDataset", md-selected-item-change="onSelectDataset(ds)", md-autoselect="", md-autofocus="")
            md-item-template
              span(md-highlight-text="searchDataset") {{ds.title}}

        //- Attributes
        span.attribute-selector(ng-if="propertiesLoaded")
          md-autocomplete(md-items="attr in attributes", md-item-text="attr", placeholder="Attribute", md-min-length="0", md-search-text="searchAttribute", md-selected-item="selectedAttribute", md-selected-item-change="onSelectAttribute(attr)", md-autoselect="", md-autofocus="")
            md-item-template
              span(md-highlight-text="searchAttribute") {{attr}}

        //- Functions (sum, max)
        span.function-selector
          md-autocomplete(md-items="fn in functions", md-item-text="fn.title", placeholder="Function", md-min-length="0", md-search-text="searchFunction", md-selected-item="selectedFunction", md-selected-item-change="onSelectFunction(fn)", md-autoselect="", md-autofocus="")
            md-item-template
              span(md-highlight-text="searchFunction") {{fn.title}}

        //- Operations (==, >)
        span.operator-selector
          md-autocomplete(md-items="op in operators", md-item-text="op.title", placeholder="Operator", md-min-length="0", md-search-text="searchOperator", md-selected-item="selectedOperator", md-selected-item-change="onSelectOperator(op)", md-autoselect="", md-autofocus="")
            md-item-template
              span(md-highlight-text="selectedOperator") {{op.title}}

        //- {{selectedDataset}} {{selectedAttribute}} {{attributes}} {{attributesByDID}}
        {{selectedDataset}}