.viz-viewport(layout-fill='', layout='column', layout-align='starter', flex='')

  md-toolbar.segmentation-block(ng-class="{'extended': selectedVectorY}")
    .md-toolbar-tools
      h3.category-title
        span Visualize

      md-autocomplete(ng-if="builderCtrl.datasetsLoaded", md-items="d in datasets", md-item-text="d.title", placeholder="Dataset", md-min-length="0", md-search-text="datasetQuery", md-selected-item="builderCtrl.selectedParams.dataset", md-selected-item-change="builderCtrl.onSelectDataset(d)")
        md-item-template
          span(md-highlight-text="datasetQuery") {{d.title}}
        md-not-found
          span No matches found.

      span by
      md-autocomplete(ng-if="builderCtrl.selectedParams.dataset && builderCtrl.propertiesLoaded", md-items="a in builderCtrl.getAttributes()", md-item-text="a", placeholder="Field", md-min-length="0", md-search-text="searchQueryA", md-selected-item="builderCtrl.selectedParams.fieldA")
        md-item-template
          span(md-highlight-text="searchQueryA") {{a}}

      //- Case One: If first input field is unique
      .second-segment-selector(ng-if="builderCtrl.selectedParams.fieldA")
        span vs
        md-autocomplete(md-items="a in builderCtrl.getAttributes()", md-item-text="a", placeholder="Field", md-min-length="0", md-search-text="searchQueryB")
          md-item-template
            span(md-highlight-text="searchQueryB") {{a}}

      //- Case Two: If first input field is non-unique and discrete
      .second-segment-selector(ng-if="builderCtrl.selectedParams.fieldA")
        span grouped by
        md-autocomplete(ng-if="builderCtrl.selectedParams.dataset && builderCtrl.propertiesLoaded", md-items="f in builderCtrl.functions", md-item-text="f.title", placeholder="Field", md-min-length="0", md-search-text="searchFunction", md-selected-item="builderCtrl.selectedParams.function")
          md-item-template
            span(md-highlight-text="searchFunction") {{f.title}}
  
        span on
        md-autocomplete(ng-if="builderCtrl.selectedParams.dataset && builderCtrl.propertiesLoaded", md-items="a in builderCtrl.getAttributes()", md-item-text="a", placeholder="Field", md-min-length="0", md-search-text="searchQueryA", md-selected-item="builderCtrl.selectedParams.fieldA")
          md-item-template
            span(md-highlight-text="searchQueryA") {{a}}

  .toolbar-extension(ng-if="builderCtrl.selectedParams.fieldA")
    .toolbar-extension-component(layout='row')
      h3.category-title
        span Conditionals

      md-autocomplete(md-items="a in builderCtrl.getAttributes()", md-item-text="a", placeholder="field", md-min-length="0", md-search-text="conditionalFieldQuery", md-selected-item="builderCtrl.selectedParams.conditionalField")
        md-item-template
          span(md-highlight-text="builderCtrl.selectedParams.conditionalField") {{a}}

      md-autocomplete(ng-disabled='!builderCtrl.selectedParams.conditionalField', md-items="o in builderCtrl.operators", md-item-text="o.title", placeholder="operator", md-min-length="0", md-search-text="conditionalOperatorQuery", md-selected-item="builderCtrl.selectedParams.conditionalOperator")
        md-item-template
          span(md-highlight-text="builderCtrl.selectedParams.conditionalOperator") {{o.title}}

      md-autocomplete(ng-disabled='!builderCtrl.selectedParams.conditionalOperator', md-items="a in builderCtrl.getAttributes()", md-item-text="a", placeholder="value", md-min-length="0", md-search-text="conditionalValueQuery", md-selected-item="builderCtrl.selectedParams.conditionalValue")
        md-item-template
          span(md-highlight-text="builderCtrl.selectedParams.conditionalValue") {{a}}

  .parameters Viz Parameters: {{ builderCtrl.selectedParams }} {{ builderCtrl.propertiesLoaded }} {{ projectCtrl }}