.viz-viewport(layout-fill='', layout='column', layout-align='starter', flex='')

  md-toolbar.segmentation-block(ng-class="{'extended': builderCtrl.selectedParams.field_a}")
    .md-toolbar-tools
      h3.category-title
        span Visualize

      md-autocomplete(ng-if="builderCtrl.datasetsLoaded", md-items="d in builderCtrl.datasets", md-item-text="d.title", placeholder="Dataset", md-min-length="0", md-search-text="datasetQuery", md-selected-item="builderCtrl.selectedDataset", md-selected-item-change="builderCtrl.onSelectDataset(d)")
        md-item-template
          span(md-highlight-text="datasetQuery") {{d.title}}
        md-not-found
          span No matches found.

      .first-segment-selector(ng-if="builderCtrl.selectedDataset && builderCtrl.propertiesLoaded")
        .phrase
          span by
        .selector
          md-autocomplete(md-items="a in builderCtrl.getAttributes()", md-item-text="a", placeholder="Field", md-min-length="0", md-search-text="searchQueryA", md-selected-item="builderCtrl.selectedParams.field_a", md-selected-item-change="builderCtrl.onSelectFieldA()")
            md-item-template
              span(md-highlight-text="searchQueryA") {{a}}

      .second-segment-selector(ng-if="builderCtrl.selectedParams.field_a")
        .selector
          md-select(ng-model="builderCtrl.selectedParams.operation")
            md-option(ng-repeat="operation in builderCtrl.operations", ng-value="operation.value")
              | {{ operation.title }}
        .selector
          md-autocomplete(md-items="a in builderCtrl.getAttributes(secondary=true)", md-item-text="a", placeholder="Field", md-min-length="0", md-search-text="searchQueryB", md-selected-item="builderCtrl.selectedParams.arguments.field_b", md-selected-item-change="builderCtrl.onSelectFieldB()")
            md-item-template
              span(md-highlight-text="searchQueryB") {{a}}

      .third-segment-selector(ng-if="builderCtrl.selectedParams.field_a && builderCtrl.selectedParams.arguments.field_b")
        .phrase
          span by
        .selector
          md-select(ng-model="builderCtrl.selectedParams.arguments.function")
            md-option(ng-repeat="func in builderCtrl.aggregationFunctions", ng-value="func.value")
              | {{ func.title }}

  .toolbar-extension(ng-if="builderCtrl.selectedParams.field_a")
    .toolbar-extension-component(layout='row')
      h3.category-title
        span Conditionals

      md-autocomplete(md-items="a in builderCtrl.getAttributes()", md-item-text="a", placeholder="field", md-min-length="0", md-search-text="conditionalFieldQuery", md-selected-item="builderCtrl.selectedParams.conditionalField")
        md-item-template
          span(md-highlight-text="builderCtrl.selectedParams.conditionalField") {{a}}

      md-autocomplete(ng-disabled='!builderCtrl.selectedParams.conditionalField', md-items="o in builderCtrl.operators", md-item-text="o.title", placeholder="operator", md-min-length="0", md-search-text="conditionalOperatorQuery", md-selected-item="builderCtrl.selectedParams.conditionalOperator")
        md-item-template
          span(md-highlight-text="builderCtrl.selectedParams.conditionalOperator") {{o.title}}

      md-autocomplete(ng-disabled='!builderCtrl.selectedParams.conditionalOperator', md-items="a in builderCtrl.getAttributes()", md-item-text="a", placeholder="value", md-min-length="0", md-search-text="conditionalValueQuery", md-selected-item="builderCtrl.selectedParams.conditionalValue")
        md-item-template
          span(md-highlight-text="builderCtrl.selectedParams.conditionalValue") {{a}}

  visualization(spec='builderCtrl.selectedParams', data='builderCtrl.visualizationData')
  md-content(flex='', layout='column')
    .visualization(flex='', layout='row')
      .left-side(layout='column', flex='')
        md-progress-linear(md-mode='indeterminate', ng-if='loadingViz', flex='')
        #viz-container(flex='')

