<md-sidenav class="site-sidenav md-sidenav-left md-locked-open md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">

  <md-content class="filters" ng-if="categories.length">
<!--     <h3>Filters</h3> -->
<!--     <md-select ng-model="filters.sortField" class="type-select">
      <md-option ng-value="sf.property" ng-repeat="sf in sortFields">{{ sf.display }}</md-option>
    </md-select>
    <md-select ng-model="filters.sortOrder" class="type-select">
      <md-option ng-value="so.property" ng-repeat="so in sortOrders">{{ so.display }}</md-option>
    </md-select> -->
    <md-checkbox ng-model="stats.shown">Show statistics</md-checkbox>
  </md-content>
  <md-content flex role="navigation">

<!--    
  <md-radio-group ng-model="filters.sortOrders">
    <md-radio-button ng-repeat="so in sortOrders">{{ so.display }}</md-radio-button>
  </md-radio-group> -->

    <ul class="docs-menu">
      <li>
        <ul>
          <section layout="vertical" layout-fill layout-align="center center" ng-if="!categories.length" flex>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </section>
          <li ng-repeat="category in categories">
            <md-button aria-label="button" class="md-button-toggle" ng-click="toggle($index)">
                <div flex layout="row">
                  {{category.name | capitalize}} ({{category.specs.length}})
                   <span class="right icons" layout="row" layout-align="end center" flex>
                    <div class="icon md-whiteframe-z1" ng-repeat="(type, url) in icons[category.name]">
                      <img ng-src="assets/images/{{url}}" />
                    </div>
                  </span>
                  <span aria-hidden="true" class="md-toggle-icon"
                  ng-class="{'toggled' : isOpen($index)}">
                  <md-icon md-svg-src="toggle-arrow"></md-icon>
                </span>
              </div>
              <span class="visually-hidden">
                Toggle {{isOpen($index)? 'expanded' : 'collapsed'}}
              </span>
            </md-button>

            <ul class="menu-toggle-list" ng-show="isOpen($index)">
              <section layout="row" layout-align="center center" flex>
                <md-progress-circular md-mode="indeterminate" ng-if="loadingDatasets"></md-progress-circular>
              </section>
              <li ng-repeat="s in category.specs">
                <md-button aria-label="button" class="child" ng-class="{'active' : isChildSelected(s)}" ng-click="selectSpec(s)">
                  <span ng-if="s.viz_type === 'time series' || s.viz_type === 'shares'">
                      Group by <b>{{s.groupBy.title}}</b>
                  </span>
                  <span ng-if="s.viz_type === 'comparison'">
                      Compare <b>{{s.groupBy.title}}</b>
                  </span>
                </md-button>
                <div class="stats" ng-if="stats.shown">
                  Number of Elements: {{s.stats.count}}
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </md-content>
</md-sidenav>

<div class="viz-viewport viewport" layout-fill layout="column" layout-align="starter" flex>
  <div ui-view="viz"></div>
  
  <div class="scroll" flex="40">
    <div class="parameters card" ng-if="selectedSpec.viz_type === 'comparison'" flex>
      <div class="title">Parameters</div>
      {{selectedParameters}}
      {{parametersData}}
      <ul class="dropdowns">
        <li>
          <label class="dropdown-label">X Variable</label>
          <md-select
            ng-if="parametersData"
            ng-model="selectedParameters.x"
            ng-change="refreshVizData()"
          >
            <md-option ng-repeat="p in parametersData">{{p}}</md-option>
          </md-select>
        </li>
        <li>
          <label class="dropdown-label">Y Variable</label>
          <md-select 
            ng-if="parametersData"
            ng-model="selectedParameters.y" 
            ng-change="refreshVizData()"
          >
            <md-option ng-repeat="p in parametersData">{{p}}</md-option>
          </md-select>
        </li>
        <li>
          <label class="dropdown-label">Group By</label>
          <md-select 
            ng-if="condList"
            ng-model="parameters.groupBy" 
            ng-change="refreshVizData()"
          >
            <md-option ng-repeat="c in condList">{{c.name}}</md-option>
          </md-select>
        </li>
      </ul>
    </div>

    <div class="conditionals card" flex>
      <div class="title">Conditionals</div>
        <div class="checkboxes">
          <md-checkbox ng-model="selConds[currentdID][c.name]" ng-repeat="c in condList" ng-value="c.name" ng-change="selectConditional(c)">
            {{c.name}}
          </md-checkbox>
        </div>
  
      <div class="dropdowns" ng-if="selConds[currentdID]">
        <ul class="dropdowns">
          <li ng-repeat="(title, showing) in selConds[currentdID]" layout-align="center start" ng-if="showing">
            <label class="dropdown-label">{{title}}</label>
            <md-progress-linear md-mode="indeterminate" ng-if="!condData[title]"></md-progress-linear>
            <md-select 
              ng-init="selCondVals[currentdID][title]=condData[title][0]" 
              ng-if="condData[title]"
              ng-model="selCondVals[currentdID][title]" 
              ng-change="refreshVizData()"
            >
              <md-option ng-repeat="d in condData[title]">{{d}}</md-option>
            </md-select>
          </li>
        </ul>
      </div>
    </div>

<!--     <div class="configurations card" flex>
      <div class="title">Configuration</div>
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-checkbox ng-model="config.normalize">Normalize</md-checkbox>
        <md-checkbox ng-model="config.deseasonalize">De-seasonalize</md-checkbox>
        <md-checkbox ng-model="config.project">Project</md-checkbox>
      </section>
    </div> -->
    <div class="export card" flex>
      <div class="title">Export</div>
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-button aria-label="button" class="md-light md-raised md-primary md-default-theme">Add to Collection</md-button>
        <md-button aria-label="button" class="md-light md-raised md-primary md-default-theme">Share Interactive</md-button>
        <md-button aria-label="button" ng-click="save('pdf')" class="md-light md-raised md-primary md-default-theme">Save Static File</md-button>
      </section>
  </div>
</div>