.visualization-view(layout-fill="")
  visualizationplot(type='visualizationsCtrl.selectedVisualizationType', spec='visualizationsCtrl.selectedSpec', data='visualizationsCtrl.visualizationData', minimal='false', selector='svg#viz', ng-if="visualizationsCtrl.selectedSpec")
    md-content(flex='', layout='column')
      .top-visualization-bar(layout='row')
        .heading(flex='')
          | {{visualizationsCtrl.selectedSpec.meta.desc}}

      .visualization(flex='', layout='row')
        .left-side(layout='column', flex='')
          md-progress-linear(md-mode='indeterminate', ng-if='loadingViz', flex='')
          #viz-container(flex='')
            svg#viz

  datatable(ng-if='visualizationsCtrl.tableData.data && visualizationsCtrl.selectedSpec' data='visualizationsCtrl.tableData.data', selector=".datatable", headers='visualizationsCtrl.tableData.columns', rowheader='false', height=1000, sortindex=1, sortorder='false')
    .datatable
