<md-sidenav class="site-sidenav md-sidenav-left md-locked-open md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">

  <md-content class="filters" flex="15" ng-if="categories.length">
    <h3>Filters</h3>
    <md-select ng-model="filters.sortField" class="type-select">
      <md-option ng-value="sf.property" ng-repeat="sf in sortFields">{{ sf.display }}</md-option>
    </md-select>
    <md-select ng-model="filters.sortOrder" class="type-select">
      <md-option ng-value="so.property" ng-repeat="so in sortOrders">{{ so.display }}</md-option>
    </md-select>
  </md-content>
  <md-content flex role="navigation">

   
<!--       <md-radio-group ng-model="filters.sortOrders">
        <md-radio-button ng-repeat="so in sortOrders">{{ so.display }}</md-radio-button>
      </md-radio-group> -->

    <ul class="docs-menu">
      <li>
        <ul>
          <section layout="vertical" layout-fill layout-align="center center" ng-if="!categories.length" flex>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </section>
          <li ng-repeat="category in categories">
            <md-button class="md-button-toggle" ng-click="toggle($index)">
                <div flex layout="row">
                  {{category.name | capitalize}}
                  <span aria-hidden="true" class="md-toggle-icon"
                  ng-class="{'toggled' : isOpen($index)}">
                  <md-icon md-svg-src="toggle-arrow"></md-icon>
                </span>
              </div>
              <span class="visually-hidden">
                Toggle {{isOpen($index)? 'expanded' : 'collapsed'}}
              </span>
            </md-button>

            <ul class="menu-toggle-list" ng-show="isOpen($index)">
              <section layout="row" layout-align="center center" flex>
                <md-progress-circular md-mode="indeterminate" ng-if="loadingDatasets"></md-progress-circular>
              </section>
              <li ng-repeat="s in category.specs">
                <md-button class="child" ng-class="{'active' : isChildSelected(s)}" ng-click="selectSpec(s)">
                  <span>
                      Group by <b>{{s.groupBy.title}}</b>
<!--                     Group all <b>{{s.aggregate.title}}</b> by <b>{{s.groupBy.title}}</b> -->
                  </span>
                </md-button>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </md-content>
</md-sidenav>

<!-- <div class="left-pane" ng-class="{'closed': leftClosed}" maxheight>
  <div class="pane-title">
    Visualization Types
  </div>
  <ul class="pane-items">
    <li ng-repeat="type in types" class="dataset" ng-click="selectType($index)" ng-class="{'selected':$index==selectedTypeIndex}">
      <span class="vertical-center title">{{type.name | capitalize}}</span>
      <span class="count">{{type.length}}</span>
      <div class="right">
        <img ng-src="/assets/images/{{type.icon}}" />
      </div>      
    </li>
  </ul>
</div> -->
<!-- 
<div class="right-pane viz-selection" ng-class="{'closed': rightClosed}" maxheight>
  <div class="pane-title">
    Visualization Specifications
  </div>
  <div class="filter fixed">
    Filter
  </div>
  <div class="choose-stats fixed">
    Stats<br>
    <span ng-repeat="stat in availableStats[selectedType]">
      <input ng-click="toggleStat(stat)" type='checkbox'>{{stat.name}}<br></span>
  </div>
  <div class="sort fixed">
    Sorting
    <select ng-options="sorting.property as sorting.display for sorting in sortings" ng-model="selectedSorting" ng-change='sortSpecs()'></select>
    <select ng-options="sortOrder.property as sortOrder.display for sortOrder in sortOrders" ng-model="selectedSortOrder" ng-change='sortSpecs()'></select>
  </div>
  <ul class="pane-items">
    <li ng-repeat="spec in specs" ng-click="selectSpec($index);" ng-class="{'selected':$index==selectedSpecIndex, 'chosen':spec.chosen==true, 'rejected': spec.chosen==false}">
      <div ng-if="selectedType=='treemap' || selectedType=='geomap' || selectedType=='piechart'">
        <div>Group all <b>{{spec.aggregate.title}}</b></div>
        <div>by <b>{{spec.groupBy.title}}</b></div>
      </div>
      <div ng-if="selectedType=='scatterplot' || selectedType=='linechart' || selectedType=='barchart'">
        <div ng-if="spec.aggregation">Total number by</div>
        <div><b>{{spec.x.title}}</b></div> 
        <div ng-if="!spec.aggregation">vs. <b>{{spec.y.title}}</b></div>
      </div>
      
      <div class="stats">
        <div>Number of elements: <b>{{ ($index == selectedSpecIndex ? vizStats.count : spec.stats.count )}}</b></div>
        <div class="extra-stats" ng-if="$index==selectedSpecIndex">
          <span ng-repeat="statType in selectedStats">
            <br><div>{{statType.name}}</div>
            <div ng-repeat="(stat, val) in vizStats[statType.val]">{{stat}}: {{val | number : 2}}</div>
          </span>
        </div>
      </div>

      <div class="choose" ng-if="$index==selectedSpecIndex">
        <div class="select" ng-click="chooseSpec($index); $event.stopPropagation();">
          <img src="/assets/images/check.svg" />
        </div>
        <div class="reject" ng-click="rejectSpec($index); $event.stopPropagation();">
          <img src="/assets/images/cross.svg" />
        </div>
      </div>
    </li>
  </ul>
</div>
 -->
<div class="viz-viewport viewport" layout-fill layout-align="center start" flex>

<!--   <section layout="vertical" layout-fill layout-align="center center" flex ng-if="!categories.length">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </section> -->

  <visualization-preview viz-spec="selectedSpec" viz-data="vizData" conditional="selCondVals"></visualization-preview>

  <div id="viz-container" class="card" flex="60">
  </div>
  <div class="legend card" flex>
  </div>

  <div class="conditionals card" flex>
    <div class="title">Conditionals</div>
    <ul class="conditional-options options">
      <li class="conditional-option option" ng-repeat="c in condList" ng-click="selectConditional(c)" ng-class="{'selected':selectedConditional(c.name)}">
        {{c.name}}
      </li>
    </ul>
    <div class="dropdowns">
      <ul class="dropdowns">
        <li ng-repeat="(title, data) in condData">
          <label class="dropdown-label">{{title}}</label>

          <!-- Dropdown for factors -->
          <select 
            ng-if="!isNumeric(condTypes[title])" 
            ng-model="selCondVals[currentdID][title]" 
            ng-options="d for d in data" 
            ng-change="changedConditional()" ng-init="selCondVals[currentdID][title]=data[0]">
          </select>

          <!-- Slider for numeric -->
          <slider 
            ng-if="isNumeric(condTypes[title])" 
            ng-change="changedConditional()"
            floor="{{ condData[title].floor }}" 
            ceiling="{{ condData[title].ceiling }}" 
            step="1" 
            ng-model="selCondVals[currentdID][title].low"
            ng-model-range="selCondVals[currentdID][title].high">
          </slider>
        </li>
      </ul>
    </div>
  </div>
  <div class="configurations card" flex>
    <div class="title">Configuration</div>
  </div>
</div>