.site-sidenav {
  background-color: $color-slate-dark;
}

.docs-menu {
	li {
		border-color: lighten($color-slate-dark, 5%);
	}

	.md-button {
		&.child { 
			display: block;
			font-weight: 400;
			padding: 0 16px 0 32px;
			text-transform: none;

		}
		&.active {
			color: $color-white;
			background-color: $color-slate;
		}
		&:hover {
			background-color: lighten($color-slate-dark, 5%) !important;
		}
	}

	// TODO Find out why vertical-align isn't working
	.md-button-toggle {
		md-icon {
			height: 40px;
		}
	}
}
