$sidenav-width: 200px
$sidenav-content-offset: 38px

md-sidenav
  +toolbar-style
  background-color: $color-grey-light-4
  color: $color-grey-dark-1
  padding-top: 10px

  a
  	color: inherit

  .category-title
  	min-width: 0

  .sidenav-group
  	padding-left: 20px
  	padding-right: 20px
  	padding-bottom: 10px

  md-autocomplete
  	margin-left: 0
  	width: 100%

  	md-autocomplete-wrap.md-whiteframe-z1
  		width: 100%
