@import '../../../css/flexbox.sass'

.galleryContainer
  display: flex
  flex-direction: row

.sidebar
  display: flex
  flex-direction: column

  background-color: #F6F6F6
  width: 304px
  padding-top: 10px

  .sidebarGroup
    padding: 0 20px 10px

    .sidebarHeading
      font-size: 14px
      font-weight: 400
