@import '../../../css/flexbox.sass'

.galleryContainer
  display: flex
  flex-direction: row

  background-color: #e9e7e8

.specsContainer
  display: flex
  flex-direction: row
  flex-wrap: wrap
  padding: 20px;

  .blockContainer
    width: 33.33%
    padding: 15px

    .block
      padding: 15px 19px
      margin: 0
      overflow: hidden

      background-color: #FAFAFA
      border: 1px solid #D0D0D0
      border-radius: 2px
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.01), 0px 2px 2px 0px rgba(0, 0, 0, 0.058), 0px 1px 5px 0px rgba(0, 0, 0, 0.034)

      font-size: 14px
      text-align: center
      cursor: pointer
      outline: none

      .header
        font-size: 15px

        .headerFragment
          &:first-child
            text-transform: capitalize

          &.field
            font-weight: 500
            color: #444444
            text-transform: lowercase

          &.operation, &.plain
            color: #6A6A6A

.sidebar
  display: flex
  flex-direction: column
  flex-shrink: 0

  width: 304px
  padding-top: 10px

  background-color: #F6F6F6
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.16)

  .sidebarGroup
    padding: 0 20px 10px

    .sidebarHeading
      font-size: 14px
      font-weight: 400
