@import '../../../css/flexbox.sass'
@import '../../../css/mixins.sass'

.card
  display: block
  max-width: 100%
  background-color: white
  margin-bottom: 8px

  .cardHeader
    font-size: 18px
    font-weight: 500
