.dropDownMenu
  width: 100%

  > div // .Select
    width: 100%

    > div
      &:first-of-type // .Select-control
        height: 33px
        line-height: 33px

        background-color: #FAFAFA
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.01), 0px 2px 2px 0px rgba(0, 0, 0, 0.058), 0px 1px 5px 0px rgba(0, 0, 0, 0.034)

        border: 1px solid #D0D0D0
        border-radius: 2px

        cursor: pointer
        width: 100%

        > div
          &:first-child // .Select-placeholder
            line-height: 33px
            height: 33px
            padding: 0 24px 0 12px
            font-weight: 500
            font-size: 13px

            > span:first-child
              font-weight: 500
              font-size: 13px

          &:nth-child(2) // .Select-input
            height: 0
            width: 0

        > span:last-child
          width: 30px
          padding-right: 0

      &:nth-of-type(2) // .Select-menu-outer
        background-color: white
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px
        border-bottom: 0
        border-left: 0
        border-right: 0
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.01), 0px 2px 2px 0px rgba(0, 0, 0, 0.058), 0px 1px 5px 0px rgba(0, 0, 0, 0.034)

        > div // .Select-menu
          border-bottom-left-radius: 2px
          border-bottom-right-radius: 2px

          > div // .Select-option
            font-size: 13px
            font-weight: 400
            padding: 9px 0 10px 12px
            background-color: white

            &:hover
              background-color: whitesmoke
