.headerBar
  display: flex
  flex-direction: row
  background-color: whitesmoke
  padding: 10px
  min-height: 55px

  .headerText
    margin-left: 10px
    line-height: 35px
    color: #6A6A6A

    strong
      font-weight: 500
      color: #444444

  .rightActions
    display: flex
    flex-direction: row-reverse
    flex-grow: 1

    > div
      margin-left: 10px
