.raisedButton
  max-width: 160px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  height: 35px
  line-height: 35px
  padding: 0px 15px

  font-weight: 500
  font-size: 12px
  text-align: center
  color: #333

  background-color: transparent

  border: 1px solid #959595
  border-radius: 2px

  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1)

  &:hover
    border-color: #666
    cursor: pointer

  &:focus, &:active, &.selected
    background-color: rgba(86, 42, 110, 0.1)

  &.disabled
    pointer-events: none
    opacity: 0.5
    box-shadow: none

  &.primary
    background-color: #0C83BA
    border-width: 0
    font-weight: 600
    color: white
    max-width: none
    text-transform: uppercase

    &:hover
      background-color: #0e94d2

    &:focus, &:active, &.selected
      background-color: #0C83BA
      box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.28)

  &.fullWidth
    max-width: none

  &.icon
    padding: 0 12px

    i
      font-size: 14px
