@import '../../../css/mixins.sass'

.sidebar
  flex-direction: column
  flex-shrink: 0
  background-color: $right-sidebar-grey  // white

  overflow-y: auto

  // margin-top: 3px
  // margin-left: 3px
  padding-top: 20px
  width: 264px
  z-index: 10

  .sidebarGroup
    display: flex
    flex-direction: column

    &.collapsed
      .collapseArrow
        -webkit-transform: rotate(90deg)
        -moz-transform: rotate(90deg)
        -ms-transform: rotate(90deg)
        -o-transform: rotate(90deg)
        transform: rotate(90deg)

      .sidebarGroupContent
        display: none

    .sidebarGroupHeading
      display: flex
      flex-direction: row
      margin-top: 0px
      padding: 10px 0px 5px 0px
      margin-left: 20px
      margin-right: 20px
      border-bottom: 1px solid rgba($small-caps-grey, 0.2)

      .headingName
        +smallCaps

      .collapseArrow
        cursor: pointer
        margin-top: 3px
        margin-left: auto
        border-color: #999 transparent transparent
        border-style: solid
        border-width: 5px 5px 2.5px
        display: inline-block
        height: 0
        width: 0

    .sidebarGroupContent
      padding: 10px 20px 20px 20px
