.sidebar
  flex-direction: column
  flex-shrink: 0

  overflow-y: scroll

  width: 304px
  padding-top: 10px
  z-index: 10

  background: linear-gradient(to bottom right, #EBE4E4, #E8E4ED)

  .sidebarGroup
    display: flex
    flex-direction: column
    padding: 0 20px
    margin-bottom: 10px

    .sidebarGroupHeading
      font-size: 11px
      font-weight: 500
      text-transform: uppercase
      color: #666
      margin-top: 10px
      margin-bottom: 10px

    .sidebarGroupContent
