@import '../../../css/mixins.sass'

.sidebar
  flex-direction: column
  flex-shrink: 0

  overflow-y: auto

  margin-top: 3px
  margin-left: 3px
  width: 264px
  padding-top: 10px
  z-index: 10

  background: white

  .sidebarGroup
    display: flex
    flex-direction: column
    padding: 0 20px
    margin-bottom: 10px

    .sidebarGroupHeading
      +smallCaps

    .sidebarGroupContent
