@import './RaisedButton.sass'

.toggleButtonGroup
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin-left: 1px
  margin-top: 1px

  &.column
    flex-direction: column

    .toggleButtonContainer
      &:first-child .raisedButton.toggleButton
        border-top-right-radius: 2px
        border-bottom-left-radius: 0

      &:last-child .raisedButton.toggleButton
        border-top-right-radius: 0px
        border-bottom-left-radius: 2px

  + .toggleButtonGroup
    margin-top: 10px

  .toggleButtonContainer
    display: flex
    flex-grow: 1
    max-width: 50%

    &:first-child .raisedButton.toggleButton
      border-top-left-radius: 2px
      border-bottom-left-radius: 2px

    &:last-child .raisedButton.toggleButton
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px

    &.separatedToggleButton
      width: 100%
      max-width: none

      .raisedButton.toggleButton
        padding: 0 8px
        max-width: none
        text-align: left

    &.textToggleButton .raisedButton.toggleButton
      min-width: 20px
      padding: 0 8px

  .raisedButton.toggleButton
    padding: 0
    border-color: #D0D0D0
    border-radius: 0
    margin-left: -1px
    margin-top: -1px
    flex-grow: 1
    background-color: rgba(255, 255, 255, 0.4)

    img
      padding: 3px

  .splitButton.textToggleButton
    display: flex
    background-color: #FAFAFA

    &:first-child
      .raisedButton.toggleButton
        border-top-left-radius: 2px

      .splitButtonSelect > div > div > div
        border-top-right-radius: 2px

    &:last-child
      .raisedButton.toggleButton
        border-bottom-left-radius: 2px

      .splitButtonSelect > div > div > div
        border-bottom-right-radius: 2px

    &.selected
      background-color: #E9E9E9
      box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.08)

    .raisedButton.toggleButton
      flex-grow: 1
      border-radius: 0
      background-color: transparent

    .dropDownMenu
      &.defaultDropdown
        > div > div:first-of-type > div > span:first-child
          color: #888

      > div > div:first-of-type
        box-shadow: none
        background-color: transparent
        border-color: #D0D0D0

    .splitButtonSelect
      width: 110px
      margin-top: -1px
      margin-left: -1px
      flex-shrink: 0
      opacity: 1
      cursor: pointer
      pointer-events: auto

      > div > div > div
        border-radius: 0

        > div > span:first-child
          font-weight: 400
          font-size: 11px
