@import '../../../css/flexbox.sass'
@import '../../../css/mixins.sass'
@import '../Base/BlockingModal.sass'

.header
  display: flex
  flex-direction: column
  position: relative
  min-width: 179px
  background: linear-gradient(to bottom right, #3A3147, #1A2E56)

.logoContainer
  display: flex
  flex-direction: row
  padding-bottom: 14px
  padding-top: 3px
  cursor: pointer

  .logo
    width: 24px
    height: 30px
    margin-left: 6px
    margin-top: 14px

  .logoText
    font-size: 31px
    font-weight: 800
    margin-top: 11px
    margin-left: 22px
    color: #FFFFFF

.logoutUser
  padding: 12px 24px
  line-height: 24px

.userStatus, .logoutUser
  font-size: 12px
  font-weight: 400
  color: rgba(255, 255, 255, 0.7)

  &:hover
    cursor: pointer

  .username
    font-weight: 600

.userStatus
  margin-left: auto

.appContainer, .projectContainer
  +maxHeight100NoOverflow

.projectContainer
  flex-direction: row

.projectSelectorContainer
  display: flex
  flex-direction: row

  .projectSelector, .projectSelectorAction
    background-color: rgba(28, 32, 40, 0.7)

    &:hover
      background-color: rgba(28, 32, 40, 0.5)

  .projectSelectorAction
    padding-left: 11px
    height: 33px

    border: none
    border-left: 1px solid rgba(255, 255, 255, 0.2)
    border-radius: 0
    line-height: 37px

    color: rgba(255, 255, 255, 0.7)

    &:hover
      color: rgba(255, 255, 255, 0.5)

  .projectSelector
    margin-bottom: 20px

    > div > div:first-of-type
      border: none
      border-radius: 0

      > div:first-child
        padding-left: 24px

    span.projectSelectorValue
      color: rgba(255, 255, 255, 0.8)
