@import '../../../css/flexbox.sass'

.header
  display: flex
  flex-direction: row
  position: relative
  background: linear-gradient(to bottom right, #4A778C, #536F7C)
  height: 48px
  min-height: 48px

.logoContainer
  display: flex
  flex-direction: row
  padding-right: 30px
  cursor: pointer

  .logo
    width: 38px
    height: 28px
    margin-left: 10px
    margin-top: 10px

  .logoText
    font-size: 23px
    font-weight: 600
    margin-top: 11px
    color: #FFFFFF

.appContainer, .projectContainer
  +maxHeight100NoOverflow
