@import '../../../css/flexbox.sass'
@import '../../../css/mixins.sass'

.header
  display: flex
  flex-direction: column
  position: relative
  width: 179px
  background: linear-gradient(to bottom right, #3A3147, #1A2E56)

.logoContainer
  display: flex
  flex-direction: row
  padding-bottom: 14px
  padding-top: 3px
  cursor: pointer

  .logo
    width: 24px
    height: 30px
    margin-left: 6px
    margin-top: 14px

  .logoText
    font-size: 31px
    font-weight: 800
    margin-top: 11px
    margin-left: 22px
    color: #FFFFFF

.userStatus, .logoutUser
  padding: 12px 24px
  transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1)
  line-height: 24px

  margin-top: auto
  font-size: 12px
  font-weight: 400
  color: rgba(255, 255, 255, 0.7)

  .username
    font-weight: 600
  &:hover
    cursor: pointer

.userStatus
  margin-left: auto

.appContainer, .projectContainer
  +maxHeight100NoOverflow

.projectContainer
  flex-direction: row
