<visualization-preview viz-spec="selectedSpec" viz-data="vizData" conditional="selCondVals" selected-values="selectedValues"></visualization-preview>
  <div class="visualization" flex="60" layout="row">
    <div class="left-side card" layout="column" flex>
      <md-progress-linear md-mode="indeterminate" ng-if="loadingViz" flex></md-progress-linear>
      <div id="viz-container" flex></div>
      <div class="legend" ng-if="selectedSpec.viz_type === 'time series'" layout="row" layout-align="center center"></div>
    </div>
    <div class="stats card" ng-if="selectedSpec.viz_type === 'time series'" flex="30">
      <div class="title">Statistics</div>
      <div class="content">
        <div class="histogram" id="means-histogram"></div>
        <histogram data="vizStats.means" selector="'#means-histogram'" title="'Mean'" selected-values="selectedValues"></histogram>
        <div class="histogram" id="stds-histogram"></div>
        <histogram data="vizStats.stds" selector="'#stds-histogram'" title="'Coefficient of Variance'" selected-values="selectedValues"></histogram>

        <div class="checkboxes">
          <md-checkbox ng-model="selectedValues[k]" ng-repeat="(k, v) in vizStats.means" ng-value="k">{{k}}</md-checkbox>
        </div>
      </div>
    </div>
  </div>
