<section class="left-pane" ng-class="{'closed': leftClosed}" maxheight>
	<div class="pane-title">
		Selected Visualizations
	</div>
	<ul class="pane-items">
		<li ng-repeat="spec in specs" ng-click="select_spec($index);" ng-class="{'selected':$index==selected_spec_index, 'chosen':spec.chosen}">
		  {{spec}}
		</li>
	</ul>
</section>

<section class="right-pane" ng-class="{'closed': rightClosed}" maxheight>
	<div class="pane-title">
		Export
	</div>
</section>

<section class="viewport" ng-class="{'right-closed': rightClosed, 'left-closed': leftClosed}" maxheight>
	<pane-toggle></pane-toggle>
</section>