.raisedButton
  max-width: 180px
  height: 35px
  line-height: 35px
  padding: 0px 15px

  font-weight: 500
  font-size: 12px
  text-align: center
  color: #333

  background-color: #FAFAFA
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.01), 0px 2px 2px 0px rgba(0, 0, 0, 0.058), 0px 1px 5px 0px rgba(0, 0, 0, 0.034)

  border: 1px solid #D0D0D0
  border-radius: 2px

  text-transform: uppercase
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1)

  &:hover
    background-color: #FEFEFE
    cursor: pointer

  &:focus, &:active, &.selected
    background-color: #E9E9E9
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.08)

  &.primary
    background-color: #0C83BA
    border-width: 0
    font-weight: 600
    color: white
    max-width: none

    &:hover
      background-color: #0e94d2

    &:focus, &:active, &.selected
      background-color: #0C83BA
      box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.28)

  &.icon
    padding: 0 12px;

    i
      font-size: 14px;

.toggleButtonGroup
  display: flex
  flex-direction: row

  .raisedButton.toggleButton
    padding: 0
    border-left-width: 0
    border-radius: 0

    &:first-child
      border-left-width: 1px
      border-top-left-radius: 2px
      border-bottom-left-radius: 2px

    &:last-child
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px

    img
      padding: 3px

.tabs
  background-color: transparent
  display: flex
  flex-direction: row

  .tab
    padding: 12px 24px
    transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1)
    line-height: 24px

    font-size: 14px
    font-weight: 500
    text-align: center
    color: #CFD8DC

    cursor: pointer
    white-space: nowrap
    text-transform: uppercase

    &:hover
      color: #dee4e7

    &.selected
      color: #FFFFFF
      background-color: #456B7D
      border-bottom: 2px solid #2D5365
