.input
  padding-left: 10px
  padding-right: 10px
  background-color: #FAFAFA
  border: 1px solid #D0D0D0
  border-radius: 2px
  outline: none
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif

  &.large
    padding-left: 14px
    font-size: 14px
