@import '../../../css/mixins.sass'
@import '../../../css/flexbox.sass'

.datasetDataList
  display: flex
  flex-direction: column
  margin: 40px
  border-radius: 3px

  .datasetDataRow
    border: 1px solid $ui-line-grey
    margin-top: -1px
    background-color: white
    padding: 0 20px

    &:first-child
      border-top-right-radius: 3px
      border-top-left-radius: 3px
    &:last-child
      border-bottom-right-radius: 3px
      border-bottom-left-radius: 3px

    &:hover
      cursor: pointer
      border-color: $primary-accent
      z-index: 10

      div.metadata
        border-bottom: 1px solid $ui-line-grey
      div.actions
        max-height: 80px
        transition: max-height 0s

    div.type
      display: flex
      flex-direction: column
      justify-content: center
      margin-right: 30px

    div.metadata
      display: flex
      flex-direction: row

      div.name, div.type
        line-height: 80px
        text-overflow: ellipsis

      div.name
        font-weight: bold
        min-width: 200px
        height: 80px
        font-size: 14px
        line-height: 14px
        display: flex
        text-overflow: ellipsis
        align-items: center

      div.type
        min-width: 80px

      div.statistics
        +smallCaps
        display: flex
        overflow-x: scroll

        div.statistic
          display: flex
          flex-direction: column
          justify-content: center
          text-align: center
          white-space: wrap
          padding: 0 15px
          min-width: 130px
          width: 130px

          .field
          .value
            color: $secondary-accent
            font-size: 14px

      div.toggles
        +smallCaps
        display: flex
        text-align: center
        .left
          display: flex
          flex-direction: column
          justify-content: center

    div.actions
      +smallCaps
      max-height: 0
      overflow: hidden
      transition: max-height 0.5s

      > div
        margin: 10px 0



.datasetPageContainer, .datasetContainer
  background-color: $center-grey
  overflow: scroll

.uploadingZone
  background-color: #FDFDFD
  border: 2px dashed #DDD
  justify-content: center

.watermark
  +watermark

.errorDescription
  display: flex
  flex-direction: column
  margin-bottom: 20px
  align-items: center

.separater
  border-bottom: 1px solid #eee
  margin-top: 10px
  width: 70%

.datasetSelectorContainer
  display: flex
  width: 260px

  .datasetSelector
    width: 100%

.datasetUploadBox
  flex-grow: 1
  display: flex
  flex-direction: column
  margin: 5px 10px 10px

  .dropzone
    background-color: rgba(255, 255, 255, 0.8)
    border: 2px dashed #BBB
    justify-content: center

    span
      color: #2a2d33
      font-size: 12px
      font-weight: 400
      line-height: 35px

.cellContent
  display: flex
  flex-grow: 1
  align-items: center
  max-width: 100%

  .fieldType
    display: flex

  .fieldValue
    display: inline
    flex-grow: 1
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.datasetPropertiesPane
  height: 80px

.gridContainer
  display: flex
  flex-grow: 1
  flex-direction: column
  overflow-x: scroll
  position: relative
  margin-top: -1px

  .scrollContainer
    position: absolute
    display: flex
    flex-direction: column
    flex-grow: 1
    max-height: 100%
    height: 100%
    min-width: 100%

.headerRowTable, .metadataRowTable, .dataRowsTable
  > div
    width: auto!important
    overflow: visible!important

.dataRowsTable
  overflow-y: auto
  height: 100%

  .cell
    overflow: hidden
    white-space: nowrap
    border: 1px solid #EBEBEB
    padding: 3px 10px 2px
    text-overflow: ellipsis
    background-color: white

    &.decimal, &.datetime, &.integer
      .fieldValue
        text-align: right

.headerRowTable, .metadataRowTable
  .row
    .cell
      background-color: white
      border: 1px solid #CCCCCC
      border-left-width: 0
      border-top-color: #C0C0C0
      border-bottom-color: #CDCDCD
      border-bottom-width: 2px

      font-weight: 500
      padding: 5px 10px 4px
      text-align: left
      height: 31px
      align-items: flex-start

      &:last-child
        border-right-width: 0px

.headerRowTable
  .row
    .cell
      border-bottom: 1px solid $ui-line-grey
      background-color: $ui-header-grey

.metadataRowTable
  .row
    .cell
      position: relative
      padding-top: 5px
      font-weight: 400
      border-top: 0px
      height: 170px
      overflow-x: hidden
      overflow-y: auto
      overflow: visible

      div
        width: 100%

      .statistics, .typeScores
        padding-top: 5px

        .field
          font-weight: 500

      .toggles
        position: absolute
        display: flex
        flex-direction: row
        bottom: 5px33

        .left
          input
            margin-left: 0px

        .right
          .colorPickerButton
            cursor: pointer
            border: 1px solid $ui-line-grey
            border-radius: 10px
            width: 15px
            height: 15px
            margin-right: 20px
            margin-left: auto

.row
  display: flex
  flex-direction: row

  .cell
    display: flex
    flex-grow: 1
    align-items: center
    height: 24px
    font-size: 12px
    color: #333
    border-left-width: 0
    border-bottom-width: 0
    width: 200px

    &:last-child
      border-right-width: 0px

.fieldTypeDropDown.dropDownMenu
  max-width: 72px

  > div
    > div:first-of-type
      height: 20px
      line-height: 20px
      padding: 0
      background-color: transparent
      border: none
      box-shadow: none
      text-align: right
      position: relative

      > div:first-child
        height: 20px
        line-height: 20px
        padding-right: 12px

      > span:last-child
        position: absolute
        right: -9px
        top: -1px

        > span:first-child
          border-width: 4px 3px 0

    > div:nth-of-type(2)
      width: auto
      right: 0

      > div
        > div
          text-align: right
          padding-right: 10px

  .fieldTypeValue
    font-weight: 400
    font-size: 12px
    color: #888

.headerControlRow
  display: flex
  flex-direction: row-reverse
  flex-grow: 1

  > div
    margin-left: 10px

.headerControl
  display: flex
  flex-direction: row
  align-items: center

  &.datasetSelectorControl
    min-width: 240px

  > span
    margin-right: 10px

    white-space: nowrap
    font-size: 13px
    font-weight: 300
