@import '../../../css/flexbox.sass'

.regressionContainer, .comparisonContainer
  display: flex
  flex-direction: row

  background-color: #e9e7e8

.regressionViewContainer, .comparisonViewContainer
  +fillContainer
  max-width: 100%
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.16)
  background-color: white
  margin: 8px
