<header>
	<nav class="navbar navbar-default top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand expand" id="logo" ui-sref="landing">DIVE /</a>
			<a class="navbar-brand user-display" ui-sref="landing">{{user.displayName}} /</a>
			<a class="navbar-brand project-title" ui-sref="engine.overview">{{projectTitle}}</a>
		</div>
		<div class="hamburger" ng-click='logoutUser()'>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
	</nav>
	<nav class="navbar navbar-default sections" role="navigation">
		<ul ng-controller="TabsCtrl">
			<li ui-sref="{{tab.route}}" ui-sref-active="active" ng-repeat="tab in tabs" select="go(t.route)" select="go(t.route)">
				<a>
					{{tab.label}}
				</a>
			</li>			
		</ul>
	</nav>
</header>