html, body, main {
  height: 100%;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

* {
  box-sizing: border-box;
}
