@import '../../../css/mixins.sass'

.projectButton
  +noSelect
  +regularCopy
  display: flex
  flex-direction: row
  min-height: 100px
  width: calc(100% - 100px)
  padding: 0 !important

  align-items: left
  justify-content: left
  text-align: left

  border: 1px solid $ui-line-grey
  border-radius: 2px
  margin-bottom: 10px
  background-color: $white
  color: $black
  font-size: 12px

  cursor: pointer
  text-decoration: none

  &:first-of-type
    border-top: 1px solid $ui-line-grey

  .starContainer
    display: flex
    align-items: center
    padding-left: 25px
    padding-right: 10px

    i
      opacity: 0.5

      &.starred
        color: $primary-accent
        opacity: 0.6

    &:hover i
      opacity: 1

    &.starred:hover i
      opacity: 0.8

  .projectButtonContent
    flex-grow: 1
    .projectButtonContentTop
      display: flex
      flex-direction: row
      min-height: 100px
      .projectLeft
        display: flex
        flex-direction: column
        justify-content: center
        width: 100%
        padding: 0px 16px

        .projectTitle
          font-size: 14px
          font-weight: bold

        .pullRight
          display: flex
          margin-left: auto
          > div:not(:first-of-type)
            margin-left: 5px

      .projectRight
        font-size: 12px
        display: flex

        .metadata
          display: flex
          flex-direction: row
          padding: 11px 0
          align-items: center
          flex-grow: 1

          .item
            display: flex
            flex-direction: column
            padding: 0 8px
            .label
              +smallCaps
              margin-right: 5px

            .value
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis
              font-weight: 600
              text-align: center
              font-size: 25px
    .projectButtonContentBottom
      padding: 0px 16px
      padding-bottom: 16px

      .label
        +smallCaps
      .values
        > div
          &:before
            content: "-"
            padding: 0 5px

  .expandButton
    position: relative
    display: flex
    width: center
    border-left: 1px solid $ui-line-grey
    align-items: center
    justify-content: center
    width: 35px
    height: 100%

    &.pt-popover-open
      background-color: $ui-header-grey
      &:before
        content: '\E655'

  &.showDatasets
    .projectButtonTop
      min-height: 70px
