@import '../../../css/flexbox.sass'
@import '../../../css/mixins.sass'

.analysisContainer
  overflow: hidden

.regressionContainer, .summaryContainer
  display: flex
  flex-direction: row
  overflow: hidden

  background-color: #e9e7e8

.regressionViewContainer, .summaryViewContainer, .aggregationViewContainer
  +fillContainer
  overflow-y: scroll

.summaryViewContainer
  flex-direction: row
  flex-wrap: wrap

  .summaryCardHolder
    width: 50%

    &:last-child > div
      margin-bottom: 8px

    &:nth-child(odd) > div
      margin-right: 4px

    &:nth-child(even) > div
      margin-left: 4px

    > div
      margin-bottom: 0

.summaryVariableContainer
  display: flex
  flex-direction: column

  .summaryChartContainer
    display: flex
    position: relative
    height: 300px
    margin: 10px

    > div:first-child
      position: absolute
      width: 100%
      top: 0
      height: 300px

.contributionToRSquared
  display: flex
  justify-content: center
  position: relative
  min-height: 400px

  > div
    padding: 20px
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0

.regressionTable, .summaryTable
  margin: 10px

.rSquared, .rSquaredAdjust
  +cmu
  display: inline-block
  font-weight: 500

  .r
    display: inline-block
    position: relative

.rSquaredAdjust
  .r:before
    content: ""
    border-top: 1px solid black
    width: 89%
    height: 100%
    position: absolute

.tableHeaderColumn
  background-color: #F6F6F6
  font-weight: 500

.comparisonTableHeaderCell
  text-transform: uppercase

.standardError
  color: #999

.dataCell
  display: flex

.dataCell, .tableCell, .footerCell
  padding: 4px
  justify-content: center

.dataColumn, .footerColumn
  &:first-child
    padding: 8px

  &:not(:first-child)
    font-size: 13px

.dataRow, .footerRow
  .dataColumn, .footerColumn
    white-space: normal
    text-overflow: ellipsis
    overflow: hidden
    word-break: break-word

    &:first-child
      background-color: #F6F6F6
      font-weight: 500

  .dataColumnOneD
    white-space: normal
    text-overflow: ellipsis
    overflow: hidden
    word-break: break-word

.dataRow + .footerRow
  border-top-width: 2px

.footerRow
  background-color: #fbfbfb

.aggregationTable
  padding: 10px 10px 20px

  .columnFieldLabel, .rowFieldLabel
    font-size: 13px
    color: #555
    font-weight: 600
    text-transform: uppercase

  .columnFieldLabel
    display: flex
    align-items: center
    justify-content: center
    margin: 10px 0

  .gridWithRowFieldLabel
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

  .rowFieldLabel
    transform: rotate(-90deg)
    margin-left: -10px

.titleField
  font-weight: 500
  color: #444444
  text-transform: lowercase

  + .titleField:before
    content: ', '

