fieldset.standard
  legend Export
  md-button.md-light.md-raised.md-primary.md-default-theme(aria-label='button', ng-click='addToCollection();') Add to Collection
  md-button.md-light.md-raised.md-primary.md-default-theme(aria-label='button', ng-click='shareInteractive();') Share Interactive
  md-button.md-light.md-raised.md-primary.md-default-theme(aria-label='button', ng-click="saveStatic('pdf');") Save Static File
