<div class="title">Export</div>
<section layout="row" layout-sm="column" layout-align="center center">
	<md-button aria-label="button" class="md-light md-raised md-primary md-default-theme" ng-click="addToCollection();">Add to Collection</md-button>
	<md-button aria-label="button" class="md-light md-raised md-primary md-default-theme" ng-click="shareInteractive();">Share Interactive</md-button>
	<md-button aria-label="button" class="md-light md-raised md-primary md-default-theme" ng-click="saveStatic('pdf');">Save Static File</md-button>
</section>