<div class="title">Grouping</div>

<ul class="dropdowns">
	<li>
    	<label class="dropdown-label">Grouping Functions</label>
    	<md-select 
    	ng-model="selectedSpec.group.function" 
    	ng-change="refreshVizData()"
    	>
    	<md-option ng-repeat="f in groupFunctions track by f.name">{{f.label}}</md-option>
    	</md-select>
    </li>
</ul>

<label class="dropdown-label">Group On</label>
<div class="checkboxes">
  <md-checkbox ng-model="selectedSpec.group.on" ng-repeat="g in groupOn track by g.name" ng-value="g.name">
  {{g.name}}
  </md-checkbox>
</div>