<md-sidenav class="site-sidenav md-sidenav-left md-locked-open md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')"
              layout-fill>

  <md-content class="filters" ng-if="categories.length">
    <md-switch md-no-ink ng-model="stats.shown">Show statistics</md-switch>
  </md-content>
  <md-content flex role="navigation">
    <ul class="docs-menu">
      <li>
        <ul>
          <section layout="vertical" layout-fill layout-align="center center" ng-if="!categories.length" flex>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </section>
          <li class="sidenav-primary-list-item" ng-repeat="category in categories">
            <md-button aria-label="button" class="md-button-toggle parent-button" md-no-ink ng-click="toggle($index)">
              <div flex layout="row">
                <span class="category">
                  <i class="expand-icon zmdi zmd-lg" ng-class="isOpen($index) ? 'zmdi-caret-up': 'zmdi-caret-down'"></i>

                  <span class="name">{{category.name | capitalize}}</span> <span class="num-specs">({{category.specs.length}})</span>
                </span>
                <span class="right icons" layout="row" layout-align="end center" flex>
                  <div class="icon" 
                    ng-repeat="icon in icons[category.name]" 
                    ng-class="{ 'active': selectedType === icon.type }" 
                    ng-click="selectType(icon.type); $event.stopPropagation();"
                  >
                    <img ng-src="/assets/images/{{icon.url}}" />
                  </div>
                </span>
              </div>
            </md-button>

            <ul class="menu-toggle-list" ng-show="isOpen($index)">
              <li ng-repeat="s in category.specs">
                <md-button md-no-ink aria-label="button" class="child" ng-class="{'active' : isChildSelected(s)}" ng-click="selectSpec(s)">
                  <div class="sidenav-button-heading">
                    <span ng-if="s.category === 'time series' && !s.group.by">
                        All Data Points
                    </span>
                    <span ng-if="s.group.by">Group by:</span>
                      <span ng-if="s.group.by && (s.category === 'time series' || s.category === 'shares' || s.category === 'distribution')" class="spec">
                        <b>{{s.group.by.title}}</b>
                      </span>
                    </span>
                    <span ng-if="s.category === 'comparison'">
                        Compare <b>{{s.compare.title | pluralize}}</b>
                    </span>
                  </div>
                  <div class="stats sidenav-button-details-stats" ng-if="stats.shown && s.stats.count">
                    {{s.stats.count}}
                    <span ng-if="s.category !== 'comparison' && s.stats.count">Visual Elements</span>
                    <span ng-if="s.category === 'comparison'">Comparisons</span>
                  </div>
                </md-button>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </md-content>
</md-sidenav>
