<div class="title">Statistics</div>
<div class="content">
	<div class="histogram" id="means-histogram"></div>
	<histogram data="vizStats.means" selector="'#means-histogram'" title="'Mean'" selected-values="selectedValues"></histogram>
	<div class="histogram" id="stds-histogram"></div>
	<histogram data="vizStats.stds" selector="'#stds-histogram'" title="'Coefficient of Variance'" selected-values="selectedValues"></histogram>

	<div class="checkboxes">
		<md-checkbox ng-model="selectedValues[k]" ng-repeat="(k, v) in vizStats.means" ng-value="k">{{k}}</md-checkbox>
	</div>
</div>